.DatagridHeader {
  background-color: hsl(0, 0%, 97%);
  border-collapse: collapse;
  text-align: left;
  padding: 16px;
  font-weight: 400;
  color: hsl(0, 0%, 40%);
  position: sticky;
  top: 0;
  &:first-child {
    border-radius: 12px 0 0 12px;
  }
  &:last-child {
    border-radius: 0 12px 12px 0;
  }
}
