.DatagridCell {
  padding: 4px;
  cursor: pointer;
  box-sizing: border-box;
  @include no-selectable;
  &-showState {
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &-input {
    outline: none;
    border: none;
    border-radius: 8px;
    background: white;
    margin: 0;
    padding: 8px 10px;
    box-shadow: 1px 1px 3px hsl(0, 0%, 80%);
    width: 100%; // For Firefox and Edge Legacy
    width: -webkit-fill-available; // For Chromium and webkit based browsers
  }
  &:first-child {
    border-radius: 12px 0 0 12px;
  }
  &:last-child {
    border-radius: 0 12px 12px 0;
  }
}
