.Stage {
  @include respond-to("medium") {
    min-width: 50vw;
    flex: 0 0 $spacing;
  }
  @include respond-to("large") {
    min-width: auto;
    flex: 0 0 $spacing;
    &:last-child {
      flex-grow: 1;
    }
  }
  box-sizing: border-box;
  scroll-snap-align: start;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 100vw;
  padding: $spacing/2;
  @include hide-scrollbars;
}
