.Appbar {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
  column-gap: 4px;
  background-color: white;
  overflow: hidden;
  height: fit-content;
  &-left,
  &-middle,
  &-right {
    display: flex;
    gap: 4px;
    margin: 4px;
    padding: $spacing;
  }

  &-left {
    grid-column: 1;
  }
  &-middle {
    grid-column: 2;
  }
  &-right {
    grid-column: 3;
  }
}
