.ArrowSelect {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 98.5%);
  border-radius: $spacing;
  gap: $spacing;

  &-BackButton,
  &-NextButton {
    @include click-effect;
    padding: $spacing $spacing * 1.5;
    border: none;
    outline: none;
    background: none;
  }

  &-BackButton {
    border-radius: $spacing 0 0 $spacing;
  }

  &-NextButton {
    border-radius: 0 $spacing $spacing 0;
  }

  &-Value {
    @include no-selectable;
    padding: $spacing;
    text-align: center;
    flex-grow: 1;
  }
}
