.DatagridCell {
  padding: 4px;
  cursor: pointer;
  box-sizing: border-box;
  @include no-selectable;
  &-showState{
    padding: 10px;
  }
  &-input {
    outline: none;
    border: none;
    border-radius: 8px;
    background: white;
    height: 100%;
    width: 100%;
    width: -webkit-fill-available;
    margin: 0;
    padding: 8px 10px;
    box-shadow: 1px 1px 3px hsl(0, 0%, 80%);
  }
  &:first-child {
    border-radius: $spacing 0 0 $spacing;
  }
  &:last-child {
    border-radius: 0 $spacing $spacing 0;
  }
}
