.Datagrid {
  overflow: auto;
  @include hide-scrollbars;
  table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0 4px;
    body tr {
      margin: 4px;
    }
    tr:hover {
      background-color: hsla(0, 0%, 96%, 0.5);
    }
  }
}
