.FlatButton {
  display: flex;
  align-items: center;
  border: none;
  border-radius: $base-radius;
  padding: 12px;
  background-color: hsl(0, 0, 97%);
  transition: 0.2s;
  outline: none;
  @include noUserSelect;
  @include click-effect;
  gap: 12px;
}
