.InputBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  label {
    font-size: 1rem;
    flex-grow: 1;
    padding: 0 6px;
  }
  input {
    flex: 1 1 14rem;
    outline: none;
    border: none;
    border-radius: $base-radius;
    background-color: hsl(0, 0%, 97%);
    padding: 12px;
  }
}
