.ListItem {
  @include no-selectable;
  list-style: none;
  padding: 8px;
  border-radius: $spacing;
  margin: 4px 0;
  &:first-child {
    margin: 0 0 2px 0;
  }
  &--selected {
    background-color: hsla(0, 0%, 100%, 0.6);
  }
}
