.NavbarLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  gap: 2px;
  margin: 4px;
  padding: 8px;
  color: #333;

  label {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    padding: 2px 0;
    @extend .button;
  }

  svg {
    font-size: 24px;
  }

  &[aria-selected="true"] {
    transition: 0.2s;
    color: rgb(84, 82, 204);
    background-color: hsla(0, 0%, 86%, 0.6);
  }
}
