.Navbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  background-color: hsla(0, 0%, 100%, 0.9);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  overflow: hidden;
  &Item {
    display: block;
    overflow: hidden;
    text-align: center;
    border-radius: 6px;
    margin: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px;
    color: #333;
    &-icon {
      font-size: 18px;
    }
    &-title {
      overflow: hidden;
      font-size: 10px;
      text-align: center;
      font-weight: 500;
      grid-row: 2;
    }

    &--selected {
      transition: 0.2s;
      color: rgb(84, 82, 204);
      background-color: hsla(0, 0%, 86%, 0.6);
    }
  }
}
