.NavigationItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  border-radius: 12px;
  gap: 8px;
  padding: 12px;
  color: #333;
  width: 100%;
  @include no-selectable;
  @include click-effect;

  label {
    @extend .button;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    padding: 2px 0;
    flex-basis: 160px;
  }

  svg {
    font-size: 24px;
  }

  &--selected {
    transition: 0.2s;
    color: hsl(226, 75%, 55%);
    background-color: hsla(0, 0%, 86%, 0.6);
  }
}
