.Stage {
  @include respond-to("medium") {
    min-width: 50vw;
    flex: 0 0 16rem;
  }
  @include respond-to("large"){
    min-width: auto;
    flex: 0 0 16rem;
    &:last-child{
      flex-grow: 1;
    }
  }
  box-sizing: border-box;
  scroll-snap-align: start;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 100vw;
  padding: 0.5em;
  @include hide-scrollbars;
}
