@use "@/assets/scss/abstracts/_variables.scss" as variables;

.Tile {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-radius: 1rem;
  padding: 1rem;
  user-select: none;
  background-color: whitesmoke;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* elements */
  &-title {
    grid-row: 1/2;
    font-size: 1.2rem;
    font-weight: 600;
    text-overflow: ellipsis;
  }
  &-content {
    grid-row: 2/3;
  }
  &-icon {
    grid-row: 3/4;
    align-self: end;
    justify-self: end;
    width: 1rem;
    height: 1rem;
    background-color: #fffc;
    backdrop-filter: blur(8px);
    border-radius: 100%;
    padding: 0.5rem;
    text-align: center;
  }

  /* Sizes */
  &--small {
    grid-column: span 1;
    grid-row: span 1;
  }
  &--medium {
    grid-column: span 2;
    grid-row: span 1;
  }
  &--large {
    grid-column: span 2;
    grid-row: span 2;
  }

  /* Colors */
  @each $name, $color in variables.$colors {
    &--#{$name} {
      background-color: $color;
      .Tile-title {
        color: white;
      }
    }
  }
}
