@mixin hide-scrollbars {
  -ms-text-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin no-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@mixin click-effect {
  &:active {
    transition: 0.2s;
    background-color: hsla(0, 0%, 85%, 0.5);
  }
}

@mixin select-effect {
  &--selected {
    transition: 0.2s;
    background-color: hsla(0, 0%, 90%, 0.5);
  }
  &:not(&--selected):hover {
    background-color: hsla(0, 0%, 96%, 0.5);
  }
}

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );
    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No se encontrado valor un valor para `#{$breakpoint}`. ' + 'Por favor, asegúrate que esta definido en el mapa `$breakpoints`.';
  }
}
