$mdc-typography-styles-headline1: (
  font-family: unquote("Inter"),
  font-size: 96,
  font-weight: 600,
);
$mdc-typography-styles-headline2: (
  font-family: unquote("Inter"),
  font-size: 60,
  font-weight: 600,
);
$mdc-typography-styles-headline3: (
  font-family: unquote("Inter"),
  font-size: 48,
  font-weight: 600,
);
$mdc-typography-styles-headline4: (
  font-family: unquote("Inter"),
  font-size: 34,
  font-weight: 600,
);
$mdc-typography-styles-headline5: (
  font-family: unquote("Inter"),
  font-size: 24,
  font-weight: 600,
);
$mdc-typography-styles-headline6: (
  font-family: unquote("Inter"),
  font-size: 20,
  font-weight: 600,
);
$mdc-typography-styles-body1: (
  font-family: unquote("Inter"),
  font-size: 16,
  font-weight: 400,
);
$mdc-typography-styles-body2: (
  font-family: unquote("Inter"),
  font-size: 14,
  font-weight: 400,
);
$mdc-typography-styles-subtitle1: (
  font-family: unquote("Inter"),
  font-size: 16,
  font-weight: 600,
);
$mdc-typography-styles-subtitle2: (
  font-family: unquote("Inter"),
  font-size: 14,
  font-weight: 600,
);
$mdc-typography-styles-button: (
  font-family: unquote("Inter"),
  font-size: 14,
  font-weight: 600,
);
$mdc-typography-styles-overline: (
  font-family: unquote("Inter"),
  font-size: 10,
  font-weight: 600,
);
$mdc-typography-styles-caption: (
  font-family: unquote("Inter"),
  font-size: 12,
  font-weight: 400,
);

$base-radius: 12px;

$breakpoints: (
  "small": (
    min-width: 256px,
  ),
  "medium": (
    min-width: 500px,
  ),
  "large": (
    min-width: 1024px,
  ),
  "huge": (
    min-width: 1200px,
  ),
);
