.students {
  display: grid;
  grid-template-columns: auto 1fr 280px;
  padding: 0 12px;
  gap: 12px;

  #groups_list {
    grid-column: 1;
    display: grid;
    grid-template-rows: auto auto 1fr;
    border-radius: 12px;
    padding: 12px;
    overflow-y: auto;
    gap: 12px;
    .headline {
      grid-row: 1;
    }
    .Labeler {
      grid-row: 2;
    }
    .paper {
      border-radius: 12px;
      grid-row: 3;
      overflow-y: auto;
      @include hide-scrollbars;
    }

    table {
      border-spacing: 12px;
      border-collapse: collapse;
      text-align: left;
      td,
      th {
        padding: 12px 6px;
        line-height: 1;
        text-align: left;
        @include no-selectable;
      }
      tbody tr {
        @include select-effect;
      }
    }
  }

  #students_list {
    grid-column: 2;
    overflow-y: auto;
  }

  #student_options {
    grid-column: 3;
    overflow-y: auto;
    height: fit-content;
  }
}
