#app {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 0.5rem;
  grid-template-rows: 50px auto 56px;
  .Appbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    grid-row: 1;
    z-index: 1;
  }
  .view {
    grid-row: 2;
  }
  .Navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    grid-row: 3;
    width: 100%;
  }
}