#app {
  display: grid;
  grid-auto-rows: auto;
  grid-template-rows: auto 1fr auto;
  .Appbar {
    width: 100%;
    grid-row: 1;
    z-index: 1;
  }
  .view{
    overflow: scroll;
  }
  .Navbar {
    grid-row: 3;
    width: 100%;
  }
}