#app {
  display: grid;
  grid-auto-rows: auto;
  grid-template-rows: auto 1fr;
  padding: 12px;
  gap: 12px;
  grid-row: 1/2;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;

  .view {
    grid-row: 2/3;
    overflow-y: auto;
  }

  #logo {
    @include no-selectable;
  }
}
